---
title: Zob2022
description: >
    Parce que certaines personnalités politiques
    ne peuvent décemment aller à l'Élysée.
---

<!DOCTYPE html>
<html lang="fr">

{% include "head.njk" %}

<body>

    <div class="wrapper">

        {% include "header.njk" %}
    
        <main>
    
           

            

             
            {% include "search.njk" %}

            <ul class="page-list grid gap-4 grid-cols-2">
                {% for post in collections.personnes %}
                {% if post.data.published !== false %}
                  <a href="{{ post.url }}" class=" "
                    data-people="{{ post.data.title }}">
                      
                      
                  
                    <figure class="bg-gray-100 rounded-xl p-8">
                      <img class="w-32 h-32 rounded-full mx-auto" src="{{ post.data.image }}" alt="" width="384" height="512">
                      <div class="pt-6 space-y-4 text-center" >
                        
                       
                        <figcaption class="font-medium">
                          <div class="text-cyan-600">
                            {{ post.data.title }}
                          </div>
                          <div class="text-gray-500">
                            {{ post.data.parti}}
                          </div>
                        </figcaption>
                      </div>
                    </figure>
                    </a>
                    {% endif %}
                {% endfor %}
            </ul>
          </div>
        </main>

        {% include "footer.njk" %}

    </div>

    <script>{% include "fuse.js" %}</script>

    <script>
      const searchInput = document.getElementById('search-input');
      let resultList = [];

      searchInput.value = '';

      const elts = document.querySelectorAll('[data-people]');

      const searchData = Array.from(elts)
        .map((elt) => {
          return {
            elt: elt,
            title: elt.dataset.people
          }
        });

      const fuse = new Fuse(searchData, {
        includeScore: false,
        keys: ['title'] // search field from nodes metas
      });

      searchInput.addEventListener('input', () => {
        resultList = fuse.search(searchInput.value);

        if (resultList.length === 0) {
          elts.forEach(elt => elt.style.display = null);
          return;
        }

        elts.forEach(elt => elt.style.display = 'none');

        for (const result of resultList) {
          result.item.elt.style.display =  null;
        }
      })
    </script>

</body>

</html>