<!DOCTYPE html>
<html lang="fr">

{% include "head.njk" %}

<body>

    <div class="wrapper">

        {% include "header.njk" %}

        <main>
            {% include "back-home.njk" %}
            <div class="flex p-1 bg-gray-100">
                <div class="flex-none w-44 relative">
                    <img src="{{ image }}" alt="" class="absolute inset-0 w-full h-full object-cover" />
                </div>
                <div class="flex-auto py-7 px-8">
                    <div class="flex flex-wrap items-baseline">
                        <h1 class="w-full flex-none text-3xl text-black mb-1.5">
                            {{ title }}
                        </h1>
                        <div class="text-lg text-gray-500">
                            {{ parti }}
                        </div>

                    </div>
                    <div class="flex items-baseline mt-9 py-4 border-t border-gray-100">

                        <blockquote>
                            {{ content | safe }}
                        </blockquote>
                    </div>
                </div>

            </div>
            <div class="flex-auto py-7 px-8 bg-gray-100">
                {%if video %}
                
                <div style="display: flex; justify-content: center;">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{video}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                {% endif %}
                <br>
                <h2>Affaires</h2>

                <ul class="facts">
                    {% for fact in facts %}
                    <a href="{{ fact.source }}">
                        <li class="shadow-md liens rounded-md px-5 py-5">
                            <span>
                                {{ fact.title }}
                            </span>

                            <br />

                            <span>
                                {{ fact.description }}
                            </span>
                        </li>
                    </a>
                    {% endfor %}
                </ul>
            </div>







        </main>

        {% include "footer.njk" %}

    </div>

</body>

</html>