<!DOCTYPE html>
<html lang="fr">

{% include "head.njk" %}

<body>

    <div class="wrapper">

        {% include "header.njk" %}

        <main>
            {% include "back-home.njk" %}
            <div class="flex p-1 bg-gray-100 md:mx-0 sm:mx-auto md:w-full sm:w-10/12 w-full">
                <div class="md:flex">
                  <div class="md:flex-shrink-0">
                      
                    <img class="h-48 w-full object-cover md:h-full mx-auto md:w-48  rounded-full md:rounded-md md:my-0 sm:mt-8" src="{{image}}" alt="Man looking at item at a store">
                  </div>
                  <div class="p-8">
                    <h1 class="w-full text-center md:text-left flex-none text-3xl text-black mb-1.5">
                        {{ title }}
                    </h1>
                    <div class="text-lg text-gray-500 text-center md:text-left">
                        {{ parti }}
                    </div>
                    <div class="flex items-baseline mt-9 py-4 border-t border-gray-100 text-center md:text-left">

                        <blockquote>
                            {{ content | safe }}
                        </blockquote>
                    </div>
                    
                  </div>
                </div>
              </div>
            
            <div class="flex-auto py-7 px-8 bg-gray-100 sm:mx-auto md:w-full sm:w-10/12 w-full">
                {%if video %}
                
                <div style="display: flex; justify-content: center;">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{video}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                {% endif %}
                {%if facts %}
                <br>
                <h2>Affaires</h2>

                <ul class="facts">
                    {% for fact in facts %}
                    <a href="{{ fact.source }}">
                        <li class="shadow-md liens rounded-md px-5 py-5">
                            <span>
                                {{ fact.title }}
                            </span>

                            <br />

                            <span>
                                {{ fact.description }}
                            </span>
                        </li>
                    </a>
                    {% endfor %}
                </ul>
                {% endif %}
                {%if polemiques %}
                <br>
                <h2>Polémiques</h2>

                <ul class="facts">
                    {% for polemique in polemiques %}
                    <a href="{{ polemique.source }}">
                        <li class="shadow-md liens rounded-md px-5 py-5">
                            <span>
                                {{ polemique.title }}
                            </span>

                            <br />

                            <span>
                                {{ polemique.description }}
                            </span>
                        </li>
                    </a>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>







        </main>

        {% include "footer.njk" %}

    </div>

</body>

</html>