<footer class="flex  h-24">
    
    
    <ul class="flex mx-auto pt-8">
        <li class="p-4 hover:underline"><a href="">Contact</a> </li>
        <li class="pt-4">|</li>
        <li class="p-4 hover:underline"><a href="">Contribuer rédaction des fiches</a> </li>
    </ul>

</footer>