<header>

    <a href="/">
        <div style="display: flex; flex-wrap: wrap; justify-content: center;">
            <img src="/assets/logo/logo.svg" alt="Zob2022-logo">
        </div>
        <h1 style="text-align: center;  font-family: 'Anton', sans-serif; font-size: 1.8em; text-transform: capitalize; letter-spacing: 8px;">ZOB 2022</h1>
    </a>
    
</header>